
/*
==========
SEARCH CSS
==========
*/

.search {
  background: var(--accent);
  padding: 5rem;
  border-radius: 10px;
}

.search-form-container {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 90%;
}

.search-input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--text);
  color: #0d0c22;
  transition: .3s ease;
  margin: 10px;
}

.search-input::placeholder {
  color: var(--secondary);
  opacity: 0.6;
}

.search-input:focus, .search-input:hover {
  outline: none;
  border-color: var(--primary);
  background-color: var(--text);
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: var(--secondary);
  opacity: 0.6;
  width: 1.3rem;
  height: 1.3rem;
}

.search-button {
  height: 40px;
}